body {
    background-image: url("swirl.jpeg");
    background-repeat: repeat-y;
} 


.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

li {
    display: inline;
    float: left;
}
